nav > a {
    padding-top: 80px;
    margin: 50%;
    height: 10%;
    width: 15%;
    color: black;
    font-family: fantasy;
    font-size: 20px;
    border-radius: 25px;
    background: transparent;
    padding: 20px; 
    text-align: center;
    border: 7px solid blue;
  }