header {
    margin: 0 auto;
    padding: 44px 0 50px;
    text-align: center;
    width: 600px;
}

header ul li {
    display: inline;
    list-style: none;
        list-style-position: initial;
        list-style-image: initial;
        list-style-type: none;
    margin: 0;
    padding: 0 19px;

}

body div img {
    border: 0;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    
}