nav > a {
    margin: 50%;
    height: 25%;
    width: 25%;
    color: black;
    font-family: fantasy;
    font-size: 35px;
    border-radius: 25px;
    background: transparent;
    padding: 20px;
    text-align: center;
    border: 5px solid blue;
  }